@model CodeNerdFilm.Models.Trailer
@using CodeNerdFilm.Models;
@{
    ViewBag.Title = "Xem trailer";
    Layout = "~/Views/Shared/_LayoutUser_Logged.cshtml";
}
<br />
<ol class="breadcrumb">
    <li>
        <span>
            <a href="@Url.Action("Index", "NguoiDung")">Code Nerd</a>
        </span>      
        /
        <span>
            Trailer
        </span>
    </li>
</ol>
<div>
    @{
        var link = "https://www.youtube.com/embed/";
        var model = Model.Link_Url;
        var movielink = link + model;
    }
    <iframe width="100%" height="500" src="@movielink" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<style>
    body {
        background-color: #282828;
    }

    ol.breadcrumb {
        max-width: 100%;
        overflow: hidden;
    }

        ol.breadcrumb > li {
            white-space: nowrap;
        }

    .breadcrumb {
        padding: 5px 10px;
        margin-bottom: 10px;
        margin-top: 10px;
        list-style: none;
        background-color: #1b1b1b;
        border-radius: 3px;
        color: #cccccc;
    }

        .breadcrumb > li {
            display: inline-block;
            text-transform: uppercase;
        }

        .breadcrumb a:hover {
            color: #dacb46;
            text-decoration: none;
        }
</style>